pipeline/PL_Error_Handling_prj7.json
{
	"name": "PL_Error_Handling_prj7",
	"properties": {
		"activities": [
			{
				"name": "CopyProducts",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Price",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSQLsource_products",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1target_products",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LogFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyProducts",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_log_pipeline_error]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "'CopyProducts'",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "@activity('CopyProducts').Error.Message",
							"type": "String"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "String"
						},
						"RunTime": {
							"value": "@utcNow()",
							"type": "DateTime"
						},
						"Status": {
							"value": "'Failed'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LogSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyProducts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_log_pipeline_error]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "'CopyProducts'",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "'NA'",
							"type": "String"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "String"
						},
						"RunTime": {
							"value": "@utcNow()",
							"type": "DateTime"
						},
						"Status": {
							"value": "'Success'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}